go 1.26.1

use (
	.
	./authx
	./bunx
	./clientx
	./collectionx
	./configx
	./dix
	./docs
	./eventx
	./examples/authx
	./examples/eventx
	./examples/httpx
	./examples/logx
	./examples/observabilityx

	./examples/rbac_backend
	./httpx
	./logx
	./observabilityx
	./sqltmplx
)
